/*
MAIN COLOR SCHEME
background : #E5E0DC
#ADBF97
#BAD9A2
#6F4E37
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --custom-font: 'Comfortaa', sans-serif;
    --fallback-font: Calibri, sans-serif; /* Fallback font */
}
body{
    background-color: rgb(239,228,220);
    font-family: var(--custom-font, var(--fallback-font));
    
}

a{
    color: black;
}

strong, b{
    color: brown;
    text-decoration: underline;

}

#header {
    display: flex; /* This is necessary for flex properties to work */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
#title { 
    border: 3px solid 	hsl(25, 34%, 33%);
    background-color: #ADBF97;
    flex-grow: 1;
    padding-left: 10px;
    border-radius: 30px;
    height: 165px;
    text-align: center;
}
#attendance{
    width: 150px;
    margin-right: 10px;
    padding: 10px;
    
}
#logoChild {
    width: 165px;

}

#logo {
    width: 100%;
    border-radius: 30px;
}

#navigation{
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: #6F4E37;
    border-width: 3px;
    border-radius: 30px;
}

.container{
    display: grid;
    grid-template-columns: [first] 33% [line2] 33% [line3] 33% [end];
    grid-template-rows: [row1-start] auto [row1-end] auto [bottom-line];
    padding: 10px;
    border-color: #6F4E37;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
}

.agenda{
    grid-column-start: first;
    grid-column-end: line2;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.unfinished{
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.quote{
    grid-column-start: line3;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}
.misc{
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: bottom-line;
}

*#sectionTitle{
    text-align: center;
}

#container2{
    margin: 15px;
    padding-bottom: 30px;
    position: sticky;
}
#market{
    display: inline-block;  
    padding: 5px; 
    border: 3px solid #6F4E37; 
    position: static;
    border-radius: 30px;
    position: relative; 
    top: 1em; 
    left: 25px; 
    background-color: #ADBF97; 

}
#questions {
    display: none;
}

#stock{
    max-width: 45vw;
    min-height: 75vh;
}